PORT=3003
MONGODB_URI=mongodb://ticket-mongo:27017/ticket_service_db
JWT_SECRET=change_me_for_dev_only
EVENT_SERVICE_URL=http://event-service-1:3002
PAYMENT_SERVICE_URL=http://payment-service:3005
INTERNAL_API_KEY=change_internal_key
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
