PORT=3004
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=replace_mailtrap_user
SMTP_PASS=replace_mailtrap_password
SMTP_FROM=noreply@masterticket.local
